
name: deploy

on:
  push:
    branches: [ "main" ]
  # TODO: remove
  pull_request:
    branches: [ "main" ]

jobs:
  
  build:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.value }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - uses: SebRollen/toml-action@v1.0.1
      id: version
      name: Get Version
      with:
        file: 'pyproject.toml'
        field: 'project.version'
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
    - name: Build Python Distribution Archives
      run: python -m build
    - uses: actions/upload-artifact@v3
      with:
        name: build_archives-${{steps.version.outputs.value}}
        path: dist/
  
  # deploy:
  #   runs-on: ubuntu_latest
  #   needs: [build]
  #   steps:
  #     - uses: 